@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 74 99% 34%;
    --primary-foreground: 0 0% 98%;

    --secondary: 170 62% 15%;
    --secondary-foreground: 0 0% 98%;

    --thirdly: 78 79% 25%;
    --thirdly-foreground: 0 0% 98%;

    --quarterly: 101 45% 35%;
    --quarterly-foreground: 0 0% 98%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .bg-gradient-dark {
    background: linear-gradient(180deg, #0D473C 0%, #000000 144.45%);
  }
}

mux-player {
  --play-button: none;
}
